
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
.conda/
*.egg-info/
.eggs/
.Python
pip-wheel-metadata/
poetry.lock

.ipynb_checkpoints/
*.ipynb~

.vscode/
.idea/
.spyproject/
*.sublime-project
*.sublime-workspace

output/
results/
logs/
*.log
*.out
*.err

examples/

*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db


data/
!data/example_inputs/    # 保留示例输入文件
*.tsv
*.csv
*.gz
*.zip
*.rds
*.h5
*.bam
*.vcf


build/
dist/
MANIFEST
*.tar.gz
*.whl


.coverage
htmlcov/
.tox/
pytest_cache/
.mypy_cache/
.pytest_cache/
.cache/


.DS_Store
Icon?
ehthumbs.db
desktop.ini

site/


